<div>
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
      			<h1>Página inicial</h1>
    		</div>
		</div>
	</div>
    <div class="row">
    	<div class="col-md-6">
    		<div class="panel panel-primary">
    			<div class="panel-heading">
    				Cadastro de contatos
    			</div>
    			<div class="panel-body">
    			   <a type="button" class="btn btn-default" ui-sref="cad-contato">Cadastrar contato</a>
    			</div>
    		</div>
    	</div>
    	<div class="col-md-6">
    		<div class="panel panel-primary">
    			<div class="panel-heading">
    				Lista de contatos
    			</div>
    			<div class="panel-body">
    				<a type="button" class="btn btn-default" ui-sref="list-contato">Lista de contatos</a>
    			</div>
    		</div>
    	</div>
    </div>
</div>